html {
    font-size: 10px;
}

body {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background: beige;
}

.umbrella:before {
    background-image: radial-gradient(ellipse farthest-corner at 200% 130%, #976df6 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at -100% 130%, #976df6 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 200% 130%, #5226be 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at -100% 130%, #5226be 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 200% 130%, #5226be 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at -100% 130%, #5226be 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-side at top, #8556de 50%, #382370 60%, transparent 60%),
    radial-gradient(ellipse farthest-side at top, #8556de 50%, #382370 60%, transparent 60%),
    radial-gradient(ellipse farthest-side at top, #8f66e2 50%, #382370 60%, transparent 60%),
    radial-gradient(ellipse farthest-side at top, #8758e2 50%, #382370 60%, transparent 60%),
    radial-gradient(ellipse farthest-side at top, #8a5ce2 50%, #382370 60%, transparent 60%);

    background-position: 41.2% 0%,
    58.8% 0%,
    26.5% 0%,
    73.5% 0%,
    0% 0%,
    100% 0%,
    -2.6% 103%,
    20% 103%,
    50% 103%,
    79.5% 103%,
    102.4% 103%;

    background-repeat: no-repeat;
    background-size: 15% 95%,
    15% 95%,
    32% 95%,
    32% 95%,
    50% 95%,
    50% 95%,
    28.2% 8%,
    27.2% 8%,
    46% 8%,
    26.7% 8%,
    28% 8%;

    min-height: 250px;
    margin-top: -19px;
    content: '';
    position: absolute;
    margin-left: -0px;
    width: 500px;
    animation: loaderX 4s infinite ease-in-out;

}

.umbrella {
    min-height: 500px;
    width: 500px;
    background-image:
    radial-gradient(ellipse farthest-corner at 200% 70%, #5226be 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at -100% 70%, #5226be 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-side at 35% 50%, #8b8b00 0.5%,#ffd400 25%, #ffd400 50%, #d2c6ae 50%, transparent 70%),
    radial-gradient(ellipse farthest-side at 35% 50% , #8b8b00 0.5%,#ffd400 25%, #ffd400 50%, #d2c6ae 50%, transparent 70%),

    radial-gradient(circle farthest-side at 50% -80%, #8b8b00 0.5%,#ffd400 25%, #ffd400 50%, #d2c6ae 50%, transparent 62%),

    radial-gradient(circle, #f8b47a 50%, transparent 60%),

    linear-gradient(rebeccapurple 90%, transparent 10%),
    radial-gradient(circle,  gold 50%, transparent 50%),
    radial-gradient(circle farthest-side at top, rebeccapurple 50%, transparent 50%);


    background-position:
    49.6% 0%,
    50.4% 0%,


    41.4% 85%,
    46.2% 85%,

    43.2% 93%,

    42.5% 91%,



    50% 74%,
    42.5% 91%,
    42.5% 100%
;
    background-size:
    0.8% 20%,
    0.8% 20%,

    4% 2%,
    4% 2%,

    9% 6%,

    15% 15%,


    2.2% 70%,
    15% 15%,
    15% 15%
;
    background-repeat: no-repeat;

}


.umbrella::after {
    min-height: 500px;
    width: 500px;
    content: '';
    position: absolute;
    /*background-color: #61dafb;*/
    opacity: 0.2;
    background-image:
            linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
            linear-gradient(#7610e2 90%, transparent 10%),  linear-gradient(#7610e2 90%, transparent 10%),
            linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
            linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
            linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
            linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
            linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
            linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
            linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
            linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),


    linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
    linear-gradient(#7610e2 90%, transparent 10%),  linear-gradient(#7610e2 90%, transparent 10%),
    linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
    linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
    linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
    linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
    linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
    linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
    linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
    linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),

linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
linear-gradient(#7610e2 90%, transparent 10%),  linear-gradient(#7610e2 90%, transparent 10%),
linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%),
linear-gradient(#7610e2 90%, transparent 10%), linear-gradient(#7610e2 90%, transparent 10%);


    background-position:
            10% 10%, 28% 5%, 50% 20%, 70% 40%, 80% 10%,
            18% 43%, 30% 25%, 51% 38%, 65% 52%, 70% 43%,
            5% 60%, 42% 53%, 53% 66%, 55% 70%, 90% 60%,
            14% 80%, 38% 81%, 48% 70%, 58% 90%, 85% 85%,


            10% 10%, 28% 5%, 50% 20%, 70% 40%, 80% 10%,
            18% 43%, 30% 25%, 51% 38%, 65% 52%, 70% 43%,
            5% 60%, 42% 53%, 53% 66%, 55% 70%, 90% 60%,
            14% 80%, 38% 81%, 48% 70%, 58% 90%, 85% 85%,

            10% 110%, 28% 15%, 50% 120%, 70% 140%, 80% 110%,
            18% 143%, 30% 125%, 51% 138%, 65% 152%, 70% 143%,
            5% 160%, 42% 153%, 53% 166%, 55% 170%, 90% 160%,
            14% 180%, 38% 181%, 48% 170%, 58% 190%, 85% 185%
   ;
    background-size:
            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,
            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,
            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,
            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,

            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,
            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,
            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,
            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,

            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,
            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,
            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,
            0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%,0.5% 5%
;

    background-repeat: no-repeat;
    /*animation: rain 2s infinite;*/

}


@keyframes loaderX {
    0% {
        transform: scaleX(1) scaleY(1);
        transform-origin: 50% 17%;
    }
    50% {
        transform: scaleX(0.08) scaleY(1.9);
        transform-origin: 50% 17%;
    }
    100% {
        transform: scaleX(1) scaleY(1);
        transform-origin: 50% 17%;
    }
}


@keyframes rain {
    0% {
        transform:  translateY(-750px);

    }
    100% {
        transform: translateY(750px);

    }
}
