.container {
    position: relative;
    height: 800px;
    width: 800px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: beige;
}

.umbrella:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
   /* animation: rain 3s infinite linear ;*/
    background-image:
    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),

    radial-gradient(ellipse farthest-corner at 50% 100%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 50% 50%, #dbe6ff 20%, #a2bbfc 68%, #366dff 70%, transparent 70%);

    background-position:
            10% 05%,10% 09%,
            10% 80%,10% 82%,
            30% 15%,30% 19%,
            28% 66%,28% 68%,
            21% 52%,21% 56%,
            90% 82%,90% 84%,
            8%  20%,8%  24%,
            72% 31%,72% 35%,
            63% 42%,63% 46%,
            47% 23%,47% 27%,
            91% 74%,91% 76%,
            15% 92%,15% 94%,
            30% 88%,30% 90%,
            37% 73%,37% 75%,
            42% 28%,42% 32%,
            86% 3%,86%  7%,
            23% 17%,23% 21%,
            55% 38%,55% 42%,
            80% 67%,80% 69%,
            65% 72%,65% 75%,
            70% 90%,70% 92%,
            80% 40%,80% 44%,
            54% 10%,54% 14%
;
    background-size:
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%,
            1% 6%,1% 3%
;





    background-repeat: no-repeat;



    /*background-color: rgba(222, 15, 122, 0.09);*/
}

.umbrella {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image:
    radial-gradient(ellipse farthest-corner at 50% 100%, #5226be 30%, #8d65d9 68%, #382370 60%, transparent 70%),
    linear-gradient(to left, #5226be 100%, transparent 101%),
    radial-gradient(ellipse farthest-corner at 50% 0%, transparent 21%, #5226be 21.2%, #5226be 35.1%, transparent 35.5%),
    radial-gradient(ellipse farthest-corner at 50% 100%, #5226be 10%, transparent 11%);

    background-position:
    50.02% 8%,
    50% 80%,
    45.05% 99.4%,
    40.8% 88.8%;

    background-size:
    1.2% 28%,
    2% 50%,
    20% 10%,
    14% 7%;
    background-repeat: no-repeat;
}

.umbrella:before {
    /*зонтик*/
    position: absolute;
    content: '';
    height: 50%;
    width: 100%;

    /*animation: move 4s infinite ease-in-out;*/

    background-image:
        /*зонт*/
    radial-gradient(ellipse farthest-corner at 200% 120%, #976df6 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at -100% 120%, #976df6 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 200% 120%, #5226be 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at -100% 120%, #5226be 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at 200% 120%, #5226be 20%, #8d65d9 68%, #382370 70%, transparent 70%),
    radial-gradient(ellipse farthest-corner at -100% 120%, #5226be 20%, #8d65d9 68%, #382370 70%, transparent 70%),
        /* нижнее обрамление зонта*/
    radial-gradient(ellipse farthest-side at 50% 100%, transparent 99%, #382370 100%, #8f66e2 110%),
    radial-gradient(ellipse farthest-side at 50% 100%, transparent 99%, #382370 100%, #8f66e2 110%),
    radial-gradient(ellipse farthest-side at  50% 100%, transparent 99%, #382370 100%, #8f66e2 110%),

    radial-gradient(ellipse farthest-side at 50% 100%, transparent 99%, #382370 100%, #8f66e2 110%),
    radial-gradient(ellipse farthest-side at 50% 100%, transparent 99%, #382370 100%, #8f66e2 110%);

    background-position:
        /*зонт*/
    41.2% -50%,
    58.8% -50%,
    26.5% -50%,
    73.5% -50%,
    0% -50%,
    100% -50%,
        /* нижнее обрамление зонта*/
        /* 3лп*/  50.2% 100.4%,
        /* 2лп*/  23.8% 100.4%,
        /* 1лп*/  3.5% 100.4%,
        /* 4лп*/  76.3% 100.4%,
        /* 5лп*/  96.7% 100.4%;

    background-size:
        /*зонт*/
    15% 95%,
    15% 95%,
    32% 95%,
    32% 95%,
    50% 95%,
    50% 95%,
        /* нижнее обрамление зонта*/
        /* 3лп*/   28.0% 8.0%,
        /* 2лп*/   16.1% 8.0%,
        /* 1лп*/    17.2% 8.0%,
        /* 4лп*/   16.0% 8.0%,
        /* 5лп*/   17.2% 8.0%;

    background-repeat: no-repeat;
}


@keyframes move {
    0% {
        transform: scaleX(1) scaleY(1);
        transform-origin: 50% 17%;
    }
    50% {
        transform: scaleX(0.08) scaleY(1.9);
        transform-origin: 50% 17%;
    }
    100% {
        transform: scaleX(1) scaleY(1);
        transform-origin: 50% 17%;
    }
}

@keyframes rain {
    0% {
        transform: translateY(-100%);

    }
    100% {
        transform: translateY(100%);

    }
}
