.heart {
    --d: 50px;
    --bor: 3px;
    width: var(--d);
    height: var(--d);
    display: inline-block;

    position: relative;
    margin-top: calc(var(--d) /2);

    background-color: rgba(255, 0, 0, 1);

    transform: rotate(-45deg);
}

.heart:before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    height: calc(var(--d) / 2);
    width: var(--d);
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    background-color: rgba(255, 0, 0, 1);

}

.heart:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    height: var(--d);
    width: calc(var(--d) / 2);
    border-radius: 0 100% 100% 0   / 0  50% 50% 0 ;
    background-color: rgba(255, 0, 0, 1);
}

.heart:before {
    top: calc(var(--d) / -2.1);


}

.heart:after {
    left: calc(var(--d)*0.95);
}

.heart:hover {
    background-color: transparent;
    background-image:
            linear-gradient(#a30808 100%, transparent 0)
            , linear-gradient(#a30808 100%, transparent 0)
            , linear-gradient(#a30808 100%, transparent 0);
    background-position: 100% 0, 0 0, 100% 100%;
    background-size:
            calc(var(--bor) * 1) calc(var(--bor) * 1)
            ,calc(var(--bor) * 1 ) calc(var(--d) * 2)
            ,calc(var(--d) * 2) calc(var(--bor) * 1 ) ;
    background-repeat: no-repeat;
}

.heart:hover:before {
    background: transparent;
    border-left: var(--bor) #a30808 solid;
    border-right: var(--bor) #a30808 solid;
    border-top: var(--bor) #a30808 solid;

}
.heart:hover:after{
    background: transparent;
    border-bottom: var(--bor) #a30808 solid;
    border-right: var(--bor) #a30808 solid;
    border-top: var(--bor) #a30808 solid;

}



.div{
    margin: 50px;
    background-color: #8a5ce2;
    height: 100px;
    width: 100px;
    border-radius: 25px;

}
.div1{
    margin: 50px;
    background-color: #fabb52;
    border-radius: 150px;
    border: 4px solid #f69024;
    height: 300px;
    width: 300px;

    background-image:
            radial-gradient(ellipse farthest-corner at 50% 0%,transparent 10%, #976df6 10%, #3f03c4 40% , transparent 40% );

    background-position: 20% 20%;
    background-size: 30% 15%;
    background-repeat: no-repeat;

}


