.heart {
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 0px;
    border-right: 5px transparent solid;
    border-bottom: 5px transparent solid;
    border-top: 5px transparent solid;
    border-left: 5px transparent solid;

    position: absolute;
    left: 25%; top: 25%;

    background-color: red;

    transform: rotate(-45deg);
}

.heart:before,
.heart:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    height: 25px;
    width: 50px;
    border-right: 5px transparent solid;
    border-bottom: 5px transparent solid;
    border-top: 5px transparent solid;
    border-left: 5px transparent solid;
    border-radius: 50% 50% 0 0/100%  100% 0 0 ;
    background-color: red;

}
.heart:after{
    transform: rotate(90deg);
}

.heart:before {
    top: -35px;
    left: -5px;
}

.heart:after {
    left: 37.5px;
    top: 7.5px;
}

.heart:hover {
    background-color: transparent;
    border-bottom: 5px #a30808 solid;
    border-left: 5px #a30808 solid;
    border-top: 5px transparent solid;
    border-right: 5px transparent solid;
}

.heart:hover:after,
.heart:hover:before {
    background-color: transparent;
    border-bottom: 5px transparent solid ;

    border-left: 5px #a30808 solid ;
    border-right: 5px #a30808 solid  ;
    border-top: 5px #a30808 solid  ;

}


