.heart {
    --d: 15px;
    --bor: 2px;
    width: var(--d);
    height: var(--d);
    display: inline-block;
    margin: 0 0;
    position: absolute;
    right: 15px;
    top: 15px;

    background-color: #929292;

    transform: rotate(-45deg);

    background-image:
            linear-gradient(#929292 90%, transparent 10%)
            , linear-gradient(#929292 90%, transparent 10%);
    background-position: 100% 0, 0 0%;
    background-size:
            calc(var(--bor) * 1) calc(var(--bor) * 1.1)
            ,  calc(var(--bor) * 1 ) calc(var(--d) * 2);
    background-repeat: no-repeat;
}

.heart:before,
.heart:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    height: calc(var(--d) / 2);
    width: var(--d);
    border-right: var(--bor) transparent solid;
    border-bottom: var(--bor) transparent solid;
    border-top: var(--bor) transparent solid;
    border-left: var(--bor) transparent solid;


    border-radius: 50% 50% 0% 0%/100% 100% 0% 0%;
    background-color: #929292;

}

.heart:after {
    transform: rotate(90deg);
}

.heart:before {
    top: calc(var(--d) / -2.1);
    left: 0;
}

.heart:after {
    left: calc(var(--d) / 1.35);
    top: calc(var(--d) / 4);
}

.heart:hover {
    background-color: transparent;
    background-image:
            linear-gradient(#929292 90%, transparent 10%)
            , linear-gradient(#929292 90%, transparent 10%)
            , linear-gradient(#929292 90%, transparent 10%);
    background-position: 100% 0, 0% 0%, 100% 103%;
    background-size:
            calc(var(--bor) * 1) calc(var(--bor) * 1.1)
            ,calc(var(--bor) * 1 ) calc(var(--d) * 2)
            ,calc(var(--d) * 2) calc(var(--bor) * 1.1 ) ;
    background-repeat: no-repeat;
}

.heart:hover:after,
.heart:hover:before {
    background-color: rgba(255, 0, 0, 0);
    border-left: var(--bor) #929292 solid;
    border-right: var(--bor) #929292 solid;
    border-top: var(--bor) #929292 solid;

}


