body{
    background-color: #1c1b15;
    font-family: 'Roboto Condensed', sans-serif;
    color: #cccccc;
}
.mainBody{
    background-image: url("./assets/img/bgimage.png") ;
    background-repeat: no-repeat;
}
.mainContainer{

}
.mainNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainNav span{
    height: 100%;
    font-size: 0px;
    background-image: url("./assets/img/Logo.png") ;
    background-repeat: no-repeat;
}
.mainNav a{
    padding: 5px ;
    font-size: 17pt ;
    text-decoration: none;
    text-transform: uppercase;
    color:  #cccccc;
}
.mainNav a:hover, .mainNav a:focus{
    border-bottom: 5px solid white;
    color: #ffffff;
}



.headerBody{
    height: 40px;
    background-color: #000000;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

headerNav{
    display: inline-block;
}
.wishlist{
    color: #ffffff;
    font-size: 15pt ;
    text-decoration: none;
}
.wishlist::after{
    content: "";
    display: inline-block;
    height: 14px;
    width: 16px;
    background-image: url("./assets/images/valentines-heart.png");
    background-repeat: no-repeat;
}
.shopping{
    font-size: 15pt ;
    color: #ffffff;
    text-decoration: none;
}
.shopping::before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url("./assets/images/cart.png");
    background-repeat: no-repeat;
}

.create{
    display: none;
}
.account span{
    display: none;
}

.login{
    display: inline-block;
    font-size: 0 ;
    height: 17px;
    width: 20px;

    background-image: url("./assets/images/ico.png");
}









.headerLogo{
    display: flex;
    align-items: center;
}

.headerLogo span{
    height: 23px;
    width: 23px;
    font-size: 0px;
    background-image: url("./assets/img/Vector Smart Object.png") ;
    background-repeat: no-repeat;
}

.headerLogo h1{
    font-size: 12pt ;
    font-weight: normal;
    text-transform: uppercase;

}


