body{
    background-color: #1c1b15;
    font-family: 'Roboto Condensed', sans-serif;
    color: #cccccc;
    margin: 0 auto;
}

.headerBody{
    height: 60px;
    background-color: #000000;
}
@media screen and (max-device-width: 320px) {
    .headerBody{
        height: 40px;
    }
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}
@media screen and (max-device-width: 320px) {
    .headerContainer{
        height: 40px;
        margin: 0 15px;
    }
}

.headerLogo{
    display: flex;
    align-items: center;
}
.headerLogo span{
    height: 23px;
    width: 23px;
    font-size: 0px;
    background-image: url('./assets/images/VectorSmartObject.svg') ;
    background-repeat: no-repeat;
}
.headerLogo h1{
    font-size: 16pt ;
    margin-left: 12px;
    font-weight: normal;
    text-transform: uppercase;

}
@media screen and (max-device-width: 320px) {
    .headerLogo h1{
        font-size: 12pt ;
        margin-left: 4px;
    }
}





.headerNav{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    align-items: center;
}
@media screen and (max-device-width: 320px) {
    .headerNav{
        grid-gap: 5px;
    }
}
.wishlist{
    color: #ffffff;
    font-size: 15pt ;
    text-decoration: none;
}
.wishlist::before{
    content: "Wishlist ";
    padding-right: 5px;
    padding-left: 5px;
    color: #919191;
}
@media screen and (max-device-width: 320px) {
    .wishlist::before{
        display: none;
    }
    .wishlist::after{
        content: "";
        display: inline-block;
        height: 14px;
        width: 16px;
        background-image: url("./assets/images/valentines-heart.png");
        background-repeat: no-repeat;
    }
}


.shopping{
    font-size: 15pt ;
    color: #ffffff;
    text-decoration: none;
}
.shopping::before{
    content: "Shopping cart ";
    padding-right: 5px;
    padding-left: 5px;
    color: #919191;
}
.account{
    /*display: inline-block;*/
}
.login,
.create{
    color: #919191;
    text-decoration: none;
    font-size: 15pt ;
}
.account span{
    color: #656565;
    margin-left: 0;
}



@media screen and (max-device-width: 320px) {
    .shopping::before{
        content: "";
        padding-right: 5px;
        padding-left: 5px;
        color: #919191;
        display: inline-block;
        height: 16px;
        width: 16px;
        background-image: url("./assets/images/cart.png");
        background-repeat: no-repeat;
    }
    .create{
        display: none;
    }
    .account span{
        display: none;
    }
    .login{
        content: "";
        display: inline-block;
        font-size: 0 ;
        height: 17px;
        width: 20px;
        background-image: url("./assets/images/ico.png");
        background-repeat: no-repeat;
    }
}























.mainBody{
    background-image: url("./assets/images/bgimage.svg") ;
    background-repeat: no-repeat;
}
.mainContainer{
    /*width: 100vw;*/
    /*max-width: 1200px;*/

}

.mainNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}
@media screen and (max-device-width: 320px) {
    .mainNav{
        height: auto;
        margin: 0 15px;
    }
}
.mainNav_logo{
    height: 98px;
    width: 185px;
    font-size: 0px;
    background-image:  url("./assets/images/logo.svg") ;
    background-repeat: no-repeat;
}
@media screen and (max-device-width: 320px) {
    .mainNav_logo{
        height:24px;
        width: 19px;
        font-size: 0px;
        background-image:  url("./assets/images/LogoAlt.png") ;
        background-repeat: no-repeat;
    }
}
.mainNav nav{
    display: flex;
    justify-content: end;
}
.mainNav a{
    padding: 5px ;
    font-size: 17pt ;
    margin-left: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color:  #cccccc;

}
@media screen and (max-device-width: 320px) {
    .mainNav a{
        font-size: 15pt ;
        margin-left: 0px;
        white-space: nowrap;
    }
}
.mainNav a:hover, .mainNav a:focus{
    border-bottom: 5px solid white;
    color: #ffffff;
}





