$backgroundColor:#000000;
$fontColor:#919191;

$headerHeight:60px;
$headerHeightAdapt:40px;


$fontSizeHeader:15pt;
$fontSizeHeaderH1:16pt;
$fontSizeHeaderH1Adapt:12pt;


$fontSizeNav:17pt;
$fontSizeNavAdapt:15pt;


