$backgroundColor:#000000;
$fontColorHeader:#919191;
$fontColorHeaderActive:#cccccc;
$fontColorNavLink:#cccccc;

$fontColorWhite:#ffffff;
$colorButtonPurchase:#e95104;
$colorBorderButtonPurchase:#421e0e;
$fontColorDescription_Product:#cccccc;







//item Css main
$headerHeight:60px;
$headerHeightAdapt:40px;

$fontSizeHeader:15px;
$fontSizeHeaderH1:16px;
$fontSizeHeaderH1Adapt:12px;

$fontSizeNav:17px;
$fontSizeNavAdapt:15px;

$fontSizeDescription_Product:15px;
$fontSizeDescription_ProductAdapt:13px;

$fontSizeDescription_price:15px;
$fontSizeDescription_priceAdapt:15px;

$fontSizeButtonPurchase: 12px;

//item Css variable
$fontColorDescriptionItem:#999999;

$fontSizePriceItem:24px;
$fontSizeButtonPurchaseItem: 17px;
$fontSizeDescriptionItem:17px;
$fontSizeNameItem:64px;
$fontSizeNameItemAdapt:24px;

$bottomButtonHeightAdapt:60px;