$backgroundColor:#000000;
$fontColorHeader:#919191;
$fontColorHeaderActive:#cccccc;
$fontColorNavLink:#cccccc;

$fontColorWhite:#ffffff;
$colorButtonPurchase:#e95104;
$colorBorderButtonPurchase:#421e0e;
$fontColorDescription_Product:#cccccc;



$headerHeight:60px;
$headerHeightAdapt:40px;

$fontSizeHeader:15pt;
$fontSizeHeaderH1:16pt;
$fontSizeHeaderH1Adapt:12pt;

$fontSizeNav:17pt;
$fontSizeNavAdapt:15pt;

$fontSizeDescription_Product:15pt;
$fontSizeDescription_ProductAdapt:13pt;

$fontSizeDescription_price:15pt;
$fontSizeDescription_priceAdapt:15pt;

$fontSizeButtonPurchase: 12px;